Source: libplot1-sharp
Priority: extra
Maintainer: Jesse van den Kieboom <jesse.vandenkieboom@epfl.ch>
Build-Depends: debhelper (>= 7),
               autotools-dev,
               cdbs,
               pkg-config,
               mono-gmcs,
               libbiorob-math1-sharp (>= 0.6),
               libglib2.0-cil-dev,
               libgtk2.0-cil-dev
Standards-Version: 3.8.0
Section: libs
Homepage: http://biorob.epfl.ch

Package: libplot1-sharp
Section: libs
Architecture: any
Depends: mono-runtime, libmono-system2.0-cil, libmono-corlib2.0-cil, libglib2.0-cil, libgtk2.0-cil
Description: C# plotting library
 C# plotting library
